@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    position: relative;
    /* background-image: linear-gradient(180deg, #231557 0%, #200839 49%, #48071d 100%); */
    background: rgba(7, 1, 26, 0.936);
    overflow-x: hidden;
}

header {
    position: relative;
    font-family: 'Playfair Display SC', serif;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
    top: 0;
    height: 90px;
}

/* NAVBAR */

header nav {
    position: fixed;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    background: rgba(12, 2, 43, 0.936);
    width: 100%;
    top: 0%;
    padding: 2px 40px 5px 20px;
    z-index: 9;
    border-bottom: 1px solid white;
}


.title-game {
    position: relative;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}

.logo-gameplay {
    position: relative;
    height: 70px;
}

.logo-gameplay img {
    position: absolute;
    top: 0;
    margin-top: 3px;
    right: -5px;
    width: 60px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 20px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 100% 100%, 48% 100%, 0 100%, 32% 57%, 2% 35%, 39% 35%)
}

#logo-hide {
    display: none;
    animation: effect 0.15s infinite;
}

@keyframes effect {
    0% {
        transform: translateX(0px) rotate(0deg);
    }

    20% {
        transform: translateX(-4px) rotate(-4deg);
    }

    40% {
        transform: translateX(-2px) rotate(-2deg);
    }

    60% {
        transform: translateX(4px) rotate(4deg);
    }

    80% {
        transform: translateX(2px) rotate(2deg);
    }

    100% {
        transform: translateX(0px) rotate(0deg);
    }
}

.title-game h1 {
    font-size: 2rem;
    text-align: left;
    line-height: 32px;
    font-family: 'Moirai One', cursive;
    font-weight: 900;
    margin-bottom: 5px;
    /* padding-left: 15px; METTRE CELA EN MEDIA QUERY */
    cursor: pointer;

}

.search-game {
    position: relative;
    display: grid;
    align-items: center;
    left: -10%;
}

.search-game input {
    position: relative;
    left: 70%;
    transform: translateX(-70%);
    width: 45%;
    height: 35px;
    border-radius: 50px;
    border: none;
    padding: 0 40px 0 15px;
    outline: 2.5px dashed rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    background-color: rgb(0, 0, 0);
}

.search-game svg {
    fill: gray;
}

.search-game input:focus {
    outline: 4px solid rgb(255, 255, 255);
}

.search-game input:focus+svg {
    transition: 1.5s;
    rotate: 360deg;
    fill: white;
}

.search-game svg {
    position: absolute;
    width: 25px;
    right: 18%;
    top: 50%;
    transform: translateY(-50%);
}

.other {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}

.other a {
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: 900;
    margin: 0 15px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 50px;
    padding: 4px 6px 5px 7px;
    font-family: 'Acme', sans-serif;
}

.other .svg {
    position: relative;
    border-radius: 100%;
    border: 2px solid rgb(120, 120, 120);
    width: 35px;
    height: 35px;
    /* background-color: rgba(255, 255, 255, 0.253); */

}

.other svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    fill: rgb(255, 255, 255);
}

/* CONTAINER */

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    color: white;
    padding-top: 25px;
    overflow: hidden;
}

.container .card {
    position: relative;
    perspective: 1000px;
    height: 150px;
    width: 200px;
    margin: auto;
    z-index: 7;
}

.container .card-game {
    position: relative;
    height: 100%;
    transition: all 0.15s ease-out;
}



.container .card-game:first-child {
    left: 1px;
}

.container .card-game img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: center/cover;
    border-radius: 5px;
}

.glow {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.15s ease-out;
    mix-blend-mode: hard-light;
    background: radial-gradient(circle at 50% 0%, rgb(169, 169, 201), transparent);
}


.container-card .name {
    position: relative;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    clip-path: polygon(50% 0, 95% 0, 83% 59%, 98% 29%, 92% 100%, 50% 100%, 0 100%, 17% 46%, 3% 69%, 9% 0);
    background-color: rgba(138, 138, 138, 0.134);
}


.container-card:hover .name {
    scale: 1.15;
    clip-path: polygon(50% 0, 95% 0, 100% 0, 100% 58%, 100% 100%, 50% 100%, 0 100%, 0 49%, 0 15%, 0 0);
    z-index: 999;
    background-color: transparent;
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(186, 186, 186);
    letter-spacing: 1px;
}

.container-card {
    /* box-shadow: 1px 0px 20px 2px rgba(0, 0, 0, 0.253); */
    padding: 0 0 0px 0;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
}








.slider {
    overflow: hidden;
    padding: 15px;
}

.scroll-holder h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 70px;
    font-weight: normal;
    margin-bottom: 0;
}

.scroll-holder h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 70px;
    font-weight: normal;
    margin-bottom: 0;
}

.scroll-tray {
    white-space: nowrap;
}

.scroll-tray div {
    display: inline-block;
    cursor: pointer;
}

.scroll-tray div:hover {
    scale: 1.05;
}

.scroll-tray img {
    border-radius: 0.3rem;
    margin: 7px 5px;
    padding: 0;
    width: 265px;
    height: 175px;
}


.scroll-holder .scroll-tray:last-child {
    animation: scroll-tray-hero 65s linear infinite;
}

@keyframes scroll-tray-hero {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    2% {
        opacity: 1;
    }

    99.99% {
        transform: translateX(-4000px);
    }

    100% {
        transform: translateX(0);

    }
}





.container-card-netflix {
    position: relative;
}

.title {
    position: relative;
    display: flex;
    align-items: center;

}

.container-card-netflix h3 {
    position: relative;
    font-size: 2rem;
    color: white;
    font-family: serif;
    left: 2%;
    width: calc(80% - 10px);
    /* height: 150px; */
    padding: 5px 0;
}

.container-card-netflix h3::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    top: 50%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.221) 0%, rgba(0, 0, 0, 0.40) 40%) #98989849;
    background-blend-mode: multiply, multiply;
}


.container-card-netflix .rows-game button {
    position: absolute;
    top: 0%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.393);

    z-index: 3;

}

.container-card-netflix .rows-game button svg {
    position: relative;

}

.container-card-netflix .rows-game .btn-right {
    right: 0%;
    width: 50px;
    height: 80%;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.container-card-netflix .rows-game .btn-left {
    display: none;
    left: 0%;
    width: 40px;
    height: 80%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.container-card-netflix .rows-game button:hover {
    background-color: rgba(0, 0, 0, 0.704);
}

.container-card-netflix .rows-game {
    position: relative;
}

.container-card-netflix .rows-game .card-game-list {
    position: relative;
    display: flex;
    justify-content:left;
    left: 2%;
    gap: 5px;
    /* text-align: center; */
    color: white;
    width: 100%;
}

.container-card-netflix .rows-game .card-game-list2 {
    position: relative;
    display: flex;
    left: 2%;
    gap: 5px;
    text-align: center;
    color: white;
}

.container-card-netflix .rows-game .card {
    position: relative;
    perspective: 1000px;
    width: 240px;
    height: 145px;
    cursor: pointer;
}

.container-card-netflix .rows-game img {
    position: relative;
    width: 240px;
    height: 145px;
    border-radius: 5px;
    transition: all 0.15s ease-out;
}

.glow {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.15s ease-out;
    mix-blend-mode: hard-light;
    background: radial-gradient(circle at 50% 0%, rgb(169, 169, 201), transparent);
}

.cards .name {
    position: relative;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    clip-path: polygon(50% 0, 95% 0, 83% 59%, 98% 29%, 92% 100%, 50% 100%, 0 100%, 17% 46%, 3% 69%, 9% 0);
    background-color: rgba(138, 138, 138, 0.134);
    margin-top: -0px;
}

.cards:hover {
    z-index: 2;
}

.cards:hover .name {
    scale: 1.2;
    clip-path: polygon(50% 0, 95% 0, 100% 0, 100% 58%, 100% 100%, 50% 100%, 0 100%, 0 49%, 0 15%, 0 0);
    z-index: 999;
    background-color: transparent;
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(186, 186, 186);
    letter-spacing: 1px;
}