@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gasoek+One&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

/* Couleur de fond de la barre de défilement */
::-webkit-scrollbar {
    background-color: #f1f1f100;
    width: 3.5px;
}

/* Couleur de fond du curseur de la barre de défilement */
::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 1000px;
}

body {
    position: relative;
    /* background-image: linear-gradient(180deg, #231557 0%, #200839 49%, #48071d 100%); */
    background: rgba(7, 1, 26, 0.936);
    overflow-x: hidden;
}

header {
    position: relative;
    /* font-family: 'Playfair Display SC', serif; */
    
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
    top: 0;
    height: 78px;
}

/* NAVBAR */

header nav {
    position: fixed;
    display: grid;
    grid-template-columns: 5% 15% 60% 20%;
    align-items: center;
    background: rgba(12, 2, 43, 0.936);
    width: 100%;
    top: 0%;
    padding: 02px 20px 5px 10px;
    z-index: 9;
    border-bottom: 1px solid white;
}

.choice-navbar-category {
    position: relative;
    /* width: 100%; */
}

.choice-navbar-category .forChoice {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.choice-navbar-category .forChoice .card {
    position: relative;
    perspective: 1000px;
    z-index: 7;
}

.container-all {
    position: relative;
    display: grid;
    grid-template-columns: 0% 100%;
    transition: all 0.5s ease-in-out;
}

.all-game {
    position: relative;
}

.nav-choice {
    position: relative;
    width: 100%;
    left: -500px;
    bottom: 0px;
    transition: all 0.45s ease-in-out;
    /* height: 900px; */
}

.insid {
    position: fixed;
    width: 17%;
    height: 95vh;
    background: #0C032B;
    z-index: 9;
    border-right: 1px solid white;
    display: grid;
    overflow-y: scroll;
    padding-bottom: 30px;
}

.insid .link {
    padding: 15px 0 5px 0;
    display: flex;
    align-items: center;
    transform: translateX(0%);
}

.insid .link svg {
    padding: 0 12px;
    width: 50px;
    fill: gray;
    cursor: pointer;
}

.insid .link svg:hover {
    fill: rgb(255, 254, 254);
    transition: all 0.2s ease-out;
}

.insid .link:hover svg {
    fill: rgb(255, 255, 255);
    transition: all 0.2s ease-out;
}

/* .insid .link .svg:hover a{
    fill: white;
    background-color: black;
    transition: all 0.2s ease-out;
} */
.link svg:hover~a {
    /* Styles à appliquer à l'élément <a> lorsque .svg est survolé */
    /* Ajoutez ici les styles souhaités */
    transform: translateX(20%) !important;
    transition: all 0.2s ease-out;
    font-weight: 900;
    scale: 1.5 !important;
}

.insid .link a {
    color: white;
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-align: left;
}

.active {
    transform: translateX(20%) !important;
    transition: all 0.2s ease-out;
    font-weight: 900;
    scale: 1.5 !important;
}

.active-color {
    font-weight: 900;
    text-decoration: underline 0.1rem gray;
    /* border: 1px solid gray; */
    /* color: gray !important; */

}

.active-color2 {
    fill: rgb(255, 255, 255) !important;
    transition: all 0.2s ease-out;

}

.insid .link-contact {
    padding: 30px 0 10px 0;
    color: white;
    display: grid;
    grid-template-columns: repeat(100%);

}

.insid .link-contact #contactez {
    font-size: 1.2rem;
    padding: 10px 0 10px 0;
    /* background-color: rgb(22, 31, 51); */
    width: 100%;
    height: 100%;
    text-align: center;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top: 1px solid white;
}

.insid .link-contact .me {
    text-align: center;
    font-size: 0.7rem;
    padding: 10px 0 10px 0;
    border-top: 1px solid white;

    /* margin-top: 5px; */
    padding-bottom: 5px;
    /* background-color: rgb(22, 31, 51); */


}

.toggle-nav {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 10px 0 0 0;
    cursor: pointer;
}

.toggle-nav span {
    transition: all 0.50s ease-in-out;
    width: 45px;
    height: 3px;
    background-color: white;
    margin: 5px 0 5px 0;
}

/*sidebar Effect Js*/

.toggle-nav.clicked span:nth-child(1) {
    background: #00000000;
}

.toggle-nav.clicked span:nth-child(2) {
    position: absolute;
    background: #ffffff;
    border-radius: 50px;
    transform: rotate(-50deg);
    transition: all 0.50s ease-in-out;
}

.toggle-nav.clicked span:nth-child(3) {
    position: absolute;
    background: #ffffff;
    border-radius: 50px;
    transform: rotate(50deg);
    transition: all 0.50s ease-in-out;
}

.toggle-nav.clicked {
    left: 0;
}

.title-game {
    position: relative;
    display: flex;
    /* grid-template-columns: 30% 70%; */
    align-items: center;
}

.logo-gameplay {
    position: relative;
    height: 70px;
}

.logo-gameplay img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 20px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 100% 100%, 48% 100%, 0 100%, 32% 57%, 2% 35%, 39% 35%)
}

#logo-hide {
    display: none;
    animation: effect 0.15s infinite;
}

@keyframes effect {
    0% {
        transform: translateY(-50%) translateX(0px) rotate(0deg);
    }

    20% {
        transform: translateY(-50%) translateX(-4px) rotate(-4deg);
    }

    40% {
        transform: translateY(-50%) translateX(-2px) rotate(-2deg);
    }

    60% {
        transform: translateY(-50%) translateX(4px) rotate(4deg);
    }

    80% {
        transform: translateY(-50%) translateX(2px) rotate(2deg);
    }

    100% {
        transform: translateY(-50%) translateX(0px) rotate(0deg);
    }
}

.title-game h1 {
    padding: 0 0 0 50px;
    font-size: 1.8rem;
    text-align: left;
    line-height: 32px;
    font-family: 'Moirai One', cursive;
    font-weight: 900;
    margin-top: 5px;
    /* padding-left: 15px; METTRE CELA EN MEDIA QUERY */
    cursor: pointer;

}

.search-game {
    position: relative;
    display: grid;
    align-items: center;
    /* justify-content: center; */
    /* left: -10%; */
}

.search-game input {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
    height: 35px;
    border-radius: 50px;
    border: none;
    padding: 0 40px 0 15px;
    outline: 2.5px dashed rgba(255, 255, 255, 0.922);
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    background-color: rgb(0, 0, 0);
}

.search-game svg {
    fill: gray;
}

.search-game input:focus {
    outline: 2px solid rgb(255, 255, 255);
}

.search-game input:focus+svg {
    transition: 1.5s;
    rotate: 360deg;
    fill: white;
}

.search-game svg {
    position: absolute;
    width: 25px;
    right: 29%;
    top: 50%;
    transform: translateY(-50%);
}

.other {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}

.other a {
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: 900;
    margin: 0 15px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 50px;
    padding: 4px 6px 5px 7px;
    font-family: 'Acme', sans-serif;
}

.other .svg {
    position: relative;
    border-radius: 100%;
    border: 2px solid rgb(120, 120, 120);
    width: 35px;
    height: 35px;
    /* background-color: rgba(255, 255, 255, 0.253); */

}

.other svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    fill: rgb(255, 255, 255);
}

/* CONTAINER */

/* METTRE LES STYLE CONTAINER ICI */

.glow {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.15s ease-out;
    mix-blend-mode: hard-light;
    background: radial-gradient(circle at 50% 0%, rgb(169, 169, 201), transparent);
}

/* SLIDER */


.slider {
    display: block;
    overflow: hidden;
    padding: 25px 0 5px 0;
}

.slider2 {
    display: grid;
    justify-content: flex-end;
    overflow: hidden;
    padding: 25px 0 5px 0;
}

.scroll-holder h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 70px;
    font-weight: normal;
    margin-bottom: 0;
}

.scroll-holder h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 70px;
    font-weight: normal;
    margin-bottom: 0;
}

.scroll-tray {
    white-space: nowrap;
}

.scroll-tray div {
    display: inline-block;
    cursor: pointer;
}

.scroll-tray div:hover {
    scale: 1.10;
}

.scroll-tray img {
    border-radius: 0.3rem;
    margin: 7px 5px;
    padding: 0;
    width: 265px;
    height: 165px;
}


.scroll-holder .scroll-tray:last-child {
    animation: scroll-tray-hero 65s linear infinite;
}

@keyframes scroll-tray-hero {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    2% {
        opacity: 1;
    }

    99.99% {
        transform: translateX(-4000px);
    }

    100% {
        transform: translateX(0);

    }
}

.slider2 .scroll-holder .scroll-tray:last-child {
    animation: scroll-tray-hero2 65s linear infinite;
}

@keyframes scroll-tray-hero2 {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    2% {
        opacity: 1;
    }

    99.99% {
        transform: translateX(4000px);
    }

    100% {
        transform: translateX(0);

    }
}


.container-card-netflix {
    position: relative;
    flex-basis: 65%;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 10px 0;
}

.container-card-netflix h3 {
    position: relative;
    font-size: 1.5rem;
    color: white;
    font-family: serif;
    left: 2%;
    /* width: calc(80% - 10px); */
    margin-bottom: 5px;
    font-family: 'Bruno Ace SC', cursive;
    font-weight: 900;
}

.container-card-netflix h3::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    top: 55%;
    transform: translateY(-55%);
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.221) 0%, rgba(0, 0, 0, 0.40) 40%) #98989849;
    background-blend-mode: multiply, multiply;
}


.container-card-netflix .rows-game button {
    position: absolute;
    top: 0%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.393);
    z-index: 3;
    opacity: 0;
}

.container-card-netflix .rows-game button svg {
    position: relative;

}

.container-card-netflix .rows-game .btn-right {
    right: 0%;
    width: 50px;
    height: 80%;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    display: block;
}

.container-card-netflix .rows-game .btn-left {
    display: none;
    left: 0%;
    width: 40px;
    height: 80%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    /* opacity: 0.5; */
}

.container-card-netflix .rows-game button:hover {
    background-color: rgba(0, 0, 0, 0.704);
    opacity: 1;
}

.container-card-netflix .rows-game {
    position: relative;
}


.displayChoice {
    position: relative;
    display: flex;
    /* justify-content: center; */
    color: white;
    justify-content: left;
    left: 2%;
}

.side-images {
    display: grid;
    /* flex-direction: column; */
}

.side-images img {
    /* flex-basis: 50% 50% 50% 50%; */
    height: 100%;
    /* Hauteur des images carrées */
    object-fit: cover;
}

/* .addClass {
    left: initial;
    display: flex;
    justify-content: flex-end !important;
    left: initial !important;
    padding-right: 50px;
} */

.container-card-netflix .rows-game .card-game-list {
    position: relative;
    display: flex;
    justify-content: left;
    left: 2%;
    gap: 5px;
    color: white;
    width: 100%;
    /* padding-bottom: 5px; */
}



.container-card-netflix .rows-game .card-game-list2 {
    position: relative;
    display: flex;
    justify-content: left;
    left: 2%;
    gap: 5px;
    text-align: center;
    width: 100%;
    /* transition: all 0.15s ease-out; */
}

.container-card-netflix .rows-game .card-game-list3 {
    position: relative;
    display: flex;
    justify-content: left;
    left: 2%;
    gap: 5px;
    text-align: center;
    color: white;
    width: 100%;
    /* transition: all 0.15s ease-out; */
}

.container-card-netflix .rows-game .card-game-list4 {
    position: relative;
    display: flex;
    justify-content: left;
    left: 2%;
    gap: 5px;
    text-align: center;
    color: white;
    width: 100%;
    transition: all 0.15s ease-out;
}

.container-card-netflix .rows-game .card-game-list5 {
    position: relative;
    display: flex;
    justify-content: left;
    left: 2%;
    gap: 5px;
    text-align: center;
    width: 100%;
    /* transition: all 0.15s ease-out; */
}

.container-card-netflix .rows-game .card-game-list6 {
    position: relative;
    display: flex;
    justify-content: left;
    left: 2%;
    gap: 5px;
    text-align: center;
    width: 100%;
    /* transition: all 0.15s ease-out; */
}

.container-card-netflix .rows-game .card-game-list7 {
    position: relative;
    display: flex;
    justify-content: left;
    left: 2%;
    gap: 5px;
    text-align: center;
    width: 100%;
    /* transition: all 0.15s ease-out; */
}

.container-card-netflix .rows-game .card-game-list8 {
    position: relative;
    display: flex;
    justify-content: left;
    left: 2%;
    gap: 5px;
    text-align: center;
    width: 100%;
    /* transition: all 0.15s ease-out; */
}

.container-card-netflix .rows-game .card-game-list9 {
    position: relative;
    display: flex;
    justify-content: left;
    left: 2%;
    gap: 5px;
    text-align: center;
    width: 100%;
    /* transition: all 0.15s ease-out; */
}

.container-card-netflix .rows-game .card-game-list10 {
    position: relative;
    display: flex;
    justify-content: left;
    left: 2%;
    gap: 5px;
    text-align: center;
    width: 100%;
    /* transition: all 0.15s ease-out; */
}


.container-card-netflix .rows-game .card {
    position: relative;
    perspective: 1000px;
    width: 220px;
    height: 120px;
    /* A MODIFIER QUAND JE REDUIT VERS 1500px */
    cursor: pointer;
}

.container-card-netflix .Nouveauté .card.big {
    position: relative;
    perspective: 8000px;
    width: 380px;
    height: 265px;
    cursor: pointer;
}

.container-card-netflix .rows-game img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.15s ease-out;
}

.glow {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.15s ease-out;
    mix-blend-mode: hard-light;
    background: radial-gradient(circle at 50% 0%, rgb(169, 169, 201), transparent);
}

.cards .name {
    position: relative;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    clip-path: polygon(50% 0, 95% 0, 83% 59%, 98% 29%, 92% 100%, 50% 100%, 0 100%, 17% 46%, 3% 69%, 9% 0);
    background-color: rgba(138, 138, 138, 0.134);
    margin-top: -0px;
    font-size: 0.8rem;
    cursor: pointer;
}

.cards:hover {
    z-index: 2;
}

.cards:hover .name {
    scale: 1.2;
    clip-path: polygon(50% 0, 95% 0, 100% 0, 100% 58%, 100% 100%, 50% 100%, 0 100%, 0 49%, 0 15%, 0 0);
    z-index: 999;
    background-color: transparent;
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(186, 186, 186);
    letter-spacing: 1px;
}


/* IF CLICK  */
.if-click {
    display: none;
    height: calc(100vh - 78px);

}

.new-container-if-click {
    display: none;
    /* height: calc(100vh - 78px); 78px est la hauteur de la navbar */
    width: 100%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.new-container-if-click .card {
    cursor: pointer;
}

.other-game-right {
    position: relative;
    /* flex-basis: 25%; */
}

.other-game-left {
    position: relative;
    display: grid;
    margin: 0 auto;
    padding-top: 20px;
    /* overflow: hidden; */
}

.other-game-rigth {
    position: relative;
    display: grid;
    margin: auto;
    padding-top: 20px;
    /* overflow: hidden; */
}

/* .other-game-left .slide-images {
    position: relative;
    /* width: 70%; */
/* margin: 0; */
/* padding: 0; 

} */
/* .other-game-right .slide-images {
    position: relative;
    width: 70%;
    margin: 0;
    padding: 0;

} */
.other-game-left .cards {
    position: relative;
    width: 180px;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    color: rgba(255, 255, 255, 0.463);

}

.other-game-rigth .cards {
    position: relative;
    width: 180px;
    height: 100%;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.463);
    margin: 5px 0;
    /* height: 100%; */
}
.other-game-left img {
    position: relative;
    width: 100%;
}

.other-game-rigth img {
    position: relative;
    width: 100%;
}
body > div.if-click > div > div.container-choice > h3{
    font-family: 'Gasoek One', sans-serif;
    letter-spacing: 3px;
    color: #cecece;

}
.container-choice {
    /* flex-basis: 50%; */
    position: relative;
    text-align: center;
    color: white;
    padding: 25px 0;
    margin: 35px 10px;

}

.container-choice h3 {
    font-size: 2.5rem;
}

.container-choice img {
    width: 90%;
}

.new-container-if-click .container-choice .infos {
    position: relative;
    width: 90%;
    height: 250px;
    background-color: #1a0f41;
    border: 3px solid black;
    border-top: none;
    margin: auto;
    padding: 10px 50px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: left;

}

/* .new-container-if-click .container-choice .infos .infosFirst{
    display: flex;
    justify-content:;

} */
/* .new-container-if-click .container-choice .infos .infosLast{
    display: flex;
    justify-content: space-around;
} */
.new-container-if-click .container-choice .infos p {
    position: relative;
    margin: 15px 0;
    font-weight: 900;

    /* display: flex; */
    /* justify-content: space-between; */
}

.if-click .slider2 {
    display: grid;
    justify-content: flex-end;
    overflow: hidden;
    padding: 25px 0 15px 0;
}

.if-click .slider2 img {
    width: 100%;
    height: 120px;
}

.if-click .slider2 .scroll-holder .scroll-tray:last-child {
    animation: scroll-tray-hero3 35s linear infinite;
}

@keyframes scroll-tray-hero3 {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    2% {
        opacity: 1;
    }

    99.99% {
        transform: translateX(-2850px);
    }

    100% {
        transform: translateX(0);

    }
}

/* couRage le rat */